# List Methods

In [124]:
l=['a','b','c','krithi']
l

['a', 'b', 'c', 'krithi']

In [125]:
#len()--- This returns number of items in the list

In [126]:
len(l)

4

In [127]:
#lst.appent(x)---Adds an item(x) to the end of the list

In [128]:
l.append(2)

In [129]:
l

['a', 'b', 'c', 'krithi', 2]

In [130]:
l[len(l):]

[]

In [131]:
lst1=[4, 1070, "pen","pencil","bag","toy","[1,2,3]"]
lst1

[4, 1070, 'pen', 'pencil', 'bag', 'toy', '[1,2,3]']

In [132]:
lst1.extend(["apple", "cat"])
lst1

[4, 1070, 'pen', 'pencil', 'bag', 'toy', '[1,2,3]', 'apple', 'cat']

In [133]:
# lst.insert(a,x)---insert x in the postion of a

In [134]:
lst1.insert(-2,'paper')

In [135]:
lst1

[4, 1070, 'pen', 'pencil', 'bag', 'toy', '[1,2,3]', 'paper', 'apple', 'cat']

In [136]:
lst1[-1]

'cat'

In [137]:
lst1.remove("cat")

In [138]:
lst1

[4, 1070, 'pen', 'pencil', 'bag', 'toy', '[1,2,3]', 'paper', 'apple']

In [139]:
lst2=[1,2,3,4,5]

In [140]:
lst2.pop()

5

In [141]:
lst2

[1, 2, 3, 4]

In [142]:
lst2.pop(2)

3

In [143]:
lst2

[1, 2, 4]

In [144]:
lst2.reverse()

In [145]:
lst2

[4, 2, 1]

In [146]:
s=lst2.copy()

In [147]:
s.append("pouch")

In [148]:
s

[4, 2, 1, 'pouch']

# Dictionary and its default functions

In [161]:
dit={"Name": "Krithika", "Age":"25","Place" : "Chennai"}

In [162]:
dit

{'Name': 'Krithika', 'Age': '25', 'Place': 'Chennai'}

In [163]:
dit.copy()

{'Name': 'Krithika', 'Age': '25', 'Place': 'Chennai'}

In [164]:
dit.values()

dict_values(['Krithika', '25', 'Chennai'])

In [165]:
dit.popitem()

('Place', 'Chennai')

In [171]:
dit

{'Name': 'Krithika', 'Age': '25'}

In [170]:
dit.keys()

dict_keys(['Name', 'Age'])

In [174]:
dit1=dit.copy()

In [175]:
dit1

{'Name': 'Krithika', 'Age': '25'}

In [179]:
dit2={"Gender":"Male/Female"}

In [181]:
dit.update(dit2)

In [182]:
dit

{'Name': 'Krithika', 'Age': '25', 'Gender': 'Male/Female'}

# String

In [183]:
st1="kala"
st2="krithi"
st1+st2

'kalakrithi'

In [184]:
st1*3

'kalakalakala'

In [185]:
st1[3]

'a'

In [195]:
st1[1:4]

'ala'

In [196]:
"r" not in st1

True

In [197]:
"r" in st1

False

In [198]:
st1

'kala'

In [194]:
"k" in st1

True

# Tuple funcitons

In [263]:
tuple1=(1,2,4,5,6,7,88)
tuple2=(1,7,8,9,10)
t3=('a','b','m','c','e','l')
(tuple1,tuple2)

((1, 2, 4, 5, 6, 7, 88), (1, 7, 8, 9, 10))

In [264]:
len(tuple1)

7

In [265]:
max(tuple2)

10

In [266]:
max(tuple1)

88

In [267]:
tuple1

(1, 2, 4, 5, 6, 7, 88)

In [268]:
t3

('a', 'b', 'm', 'c', 'e', 'l')

In [269]:
type(t3)

tuple

In [270]:
len(t3)

6

In [271]:
max(t3)

'm'

In [272]:
min(t3)

'a'

In [274]:
tuple(lst1)

(4, 1070, 'pen', 'pencil', 'bag', 'toy', '[1,2,3]', 'paper', 'apple')

# Set

In [278]:
s={1,2,3,4,4}

In [279]:
s

{1, 2, 3, 4}

In [280]:
type(s)

set

In [294]:
name='krithika'
set(name)
s2=set(name)
s2

{'a', 'h', 'i', 'k', 'r', 't'}

In [296]:
s3=set("palindrome")
s3

{'a', 'd', 'e', 'i', 'l', 'm', 'n', 'o', 'p', 'r'}

In [297]:
'a' in name

True

In [298]:
len(s2)

6

In [299]:
s2.union(s3)

{'a', 'd', 'e', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 't'}

In [300]:
 s3.symmetric_difference(s2)

{'d', 'e', 'h', 'k', 'l', 'm', 'n', 'o', 'p', 't'}

In [301]:
s3.difference(s2)

{'d', 'e', 'l', 'm', 'n', 'o', 'p'}

In [302]:
s3.issubset(s2)

False

# Thank you